{% extends 'admin/base.html' %}
{% load static %}
{% block content %}

        <div>
            <div class="row mb-3 d-flex align-items-center">
                <div class="col-md-4" style="line-height: 0.5"><h3 class="fw-semibold">Create Book</h3>
                <p>Add some intresing books</p></div>
                <div class="col-md-3"><a href="{% url 'authorinfo' %}" class="btn btn-warning">Create Author</a></div></div>
            </div>
            
            <div class="mb-3">
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Book name</label>
                    <input type="text" name="title" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Book Price</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="price">
                </div> -->
                
            </form>
        </div>

    {% endblock %}