{% extends 'admin/base.html' %} {% load static %} {% block content %}

        <h1>Specific book</h1> <br>
        
        <div class="d-flex bg-gradient1">
            <div class="row">
                <div class="col-md-3 border border-3 p-4">
                    <div class="col-md-12">
                        <img class="col-md-12 mb-3" src="{{ book.image.url}}" alt="">
                    </div>
                    <div class="col-md-3 fw-semibold text-center m-auto">
                        {{book.title}}
                        {{book.price}}
                    </div>
                </div>

            </div>
            
        </div>

{% endblock %}